{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='{% static 'css/output.css' %}' />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <title>Django + ShadcnUI</title>
  </head>
  <body>
    <h1>Hello, we love django + ShadcnUI</h1>
    {% block content %}{% endblock content %}
  </body>
</html>
